.title-page-decorated {
	border-top: 3px solid #25c976;
	border-bottom: 3px solid #25c976;
	margin: 25px auto;
	display: inline-block;
}

.about {
	text-align: center;
	font-size: 26px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 15px;
}

.contact-box span {
	display: block;
}

.contact-box {
	background: #25c976; /*light green*/
	padding: 20px 0 0;
	color:  #fff;
	font-size: 20px;
	line-height:  22px;
	text-align:  center;
	margin: 15px 0;
	min-height: 135px;
}

.contact-box input[type="text"], 
.contact-box textarea {
	border: 1px solid #25986c;
	color: #244c61;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 18px;
	width: 100%;
}

.contact-box select {
	color: #244c61;
}

.contact-box textarea {
	padding: 10px;
	resize: none;
	height: 140px;
}

.contact-box .name {
	font-weight: bold;
}

.contact-box-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/*google map*/
#map_canvas {
	width: 100%;
	height: 190px;
	margin-top: 15px;
}