/* lg */
@media(min-width:1200px){

}

/* md */
@media(min-width:768px) and (max-width: 991px) {
	.nav>li>a {
		font-size: 13px !important;
	}

	.btn-large, .btn-small {
		padding: 15px !important;
	}

	.login-input {
		width: 100% !important;
	}
}

/* sm */
@media(max-width:767px){
	h1 {
		font-size: 50px !important;
	}

	.footer-logo {
		position: relative !important;
		text-align: center;
		top:0 !important;
		right: 0 !important;
	}

	.nav>li>a {
	    font-size: 12px !important;
	}

	.login-input {
		width: 100% !important;
	}
}

/* xs */
@media(max-width:480px){

}





